# 1 Neighborhoods in Toronto

In [2]:
# Import required libraries
import pandas as pd

In [3]:
# get list of postal codes of Toronto, Canada
url = 'https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M'

data = pd.read_html(url, header=0)

df = pd.DataFrame(data[0])

print('shape:', df.shape)
df.head()

shape: (287, 3)

  Postcode           Borough      Neighborhood
0      M1A      Not assigned      Not assigned
1      M2A      Not assigned      Not assigned
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront

In [4]:
# Ignore cells with a borough that is 'Not assigned'
df.replace({'Borough':{'Not assigned' : None}}, inplace=True)
df.dropna(inplace=True)

print('shape:', df.shape)
df.head()

shape: (210, 3)

  Postcode           Borough      Neighborhood
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront
5      M6A        North York  Lawrence Heights
6      M6A        North York    Lawrence Manor

In [5]:
# fix 'Not assigned' in Neighborhood column
for index, row in df.iterrows():
    if(row['Neighborhood'] == "Not assigned"):
        print(row)
        row['Neighborhood'] = row['Borough']
        print(row)

Postcode                 M7A
Borough         Queen's Park
Neighborhood    Not assigned
Name: 7, dtype: object
Postcode                 M7A
Borough         Queen's Park
Neighborhood    Queen's Park
Name: 7, dtype: object

In [22]:
# group Neighborhood by Postcode
df_grp = df.groupby(['Postcode','Borough'])['Neighborhood'].apply(', '.join).reset_index()

df_grp.head()

  Postcode      Borough                            Neighborhood
0      M1B  Scarborough                          Rouge, Malvern
1      M1C  Scarborough  Highland Creek, Rouge Hill, Port Union
2      M1E  Scarborough       Guildwood, Morningside, West Hill
3      M1G  Scarborough                                  Woburn
4      M1H  Scarborough                               Cedarbrae

In [23]:
# print dataframe shape
df_grp.shape

(103, 3)

# 2 Geocode the data

# 3 Analysis